<%- include("../layouts/adminheader.ejs") %>
<style>.dot {
  height: 25px;
  width: 25px;
  
  border-radius: 50%;
  display: inline-block;
}

.offerCard{

    width: 100%;
    border:none;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    
}

.percent{

    font-size: 56px;
    color: #fff;
}

.discount{

    font-size: 27px;
    color: #fff;
}


.line{

    color: #fff;
}
.modal-dialog {
    max-width: 626px;
    margin: 1.75rem auto;
}
</style>


<body>
   <div class="container-scroller d-flex">
     <!-- partial:./partials/_sidebar.html -->
     <%- include("../layouts/adminSideBar.ejs") %>
     <!-- partial -->
     <div class="container-fluid page-body-wrapper">
       <!-- partial:./partials/_navbar.html -->
       <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
         <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
           <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
             <span class="mdi mdi-menu"></span>
           </button>
           <div class="navbar-brand-wrapper p-4">
             <!-- <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.png" alt="logo"/></a>
             <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.png" alt="logo"/></a> -->
           </div>
           <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Product Dashboard</h4>
           <ul class="navbar-nav navbar-nav-right">
             <li class="nav-item  p-2">
              
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item  p-2">
                  <h4 class="mb-0 font-weight-bold d-none d-xl-block  text-uppercase" id="clock" style="color: #fcfcfc;"></h4>
                </li>
        
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>

            <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
              <ul class="navbar-nav mr-lg-2">
                
              </ul>
         
           <ul class="navbar-nav navbar-nav-right">
             <li class="nav-item nav-profile dropdown">
               <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                
                 <span class="nav-profile-name">Admin</span>
               </a>
               <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                
                 <a class="dropdown-item" href="/admin/logout">
                   <i class="mdi mdi-logout text-primary"></i>
                   Logout
                 </a>
               </div>
             </li>
      
           </ul>
         </div>
       </nav>
       <!-- partial -->
       <div class="main-panel">
         <div class="content-wrapper">
           
             <div class="col-12 col-xl-6 grid-margin stretch-card">
              <div class="mb-3">
                <a href="/admin/new-product" class="btn btn-outline-dark btn-icon-text">
                    <i class="mdi mdi-plus-circle-outline btn-icon-prepend mdi-36px"></i>
                    <span class="d-inline-block text-left">
                        <small class="font-weight-light d-block">create new Product</small>
                        Add Product
                    </span>
                </a>
            
                <button class="btn btn-outline-dark btn-icon-text ">
                    <i class="mdi mdi-cart-outline btn-icon-prepend mdi-36px"></i>
                    <span class="d-inline-block text-left">
                        <small class="font-weight-light d-block">Product Count </small>
                        
                    </span>
                </button>
            </div>
            
            
               
             </div>
             <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Product information</h4>
                  <p class="card-description">products are <code> listed here </code>
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered" id="user-table">
                      <thead class="table-secondary">
                          <tr class="text-primary">
                              <th scope="col">ProductName</th>
                              <th scope="col">Picture</th>

                              <th scope="col">Category</th>

                              <th scope="col">Color</th>

                              <th scope="col">Price</th>

                              <th scope="col">Brand</th>

                              <th scope="col">Quantity</th>

                              

                              <th scope="col">Offer</th>

                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% if(product.length > 0) { %>
                              <% product.forEach(singleProduct => { %>
                                  <tr>
                                      <td><%= singleProduct.productName %></td>
                                      <td><img class="" src="/images/products/<%= singleProduct.coverPic[0] %>" alt="image of Product" style="width: 60px; height: 60px;"></td>
                                      <td><%= singleProduct.category.categoryName %></td>
                                      <td><span class="dot" style="background-color:<%= singleProduct.color %>"></span></td>
                                      <td><%= singleProduct.price %></td>
                                      <td><%= singleProduct.brand.brandName %></td>
                                      <td><%= singleProduct.quantity %></td>
                                    
                                      <td>
  <% if (singleProduct.offer) { %>
    <span class="text-danger">Product Offer Applied !</span><br><br>
    <%= singleProduct.offer.name %><br><br>
    <span class="badge badge-warning"><%= singleProduct.offer.percentage %>% Discount</span>
  <% } else if (singleProduct.category && singleProduct.category.offer) { %>

    <span class="text-danger">Category Offer Applied !</span><br><br>
    <%= singleProduct.category.offer.name%><br><br> 
    <span class="badge badge-warning"><%= singleProduct.category.offer.percentage %>% Discount</span>
  <% } else { %>
    No offers
  <% } %>
</td>


                                      <td>
                                          <% if(singleProduct.is_block == 0){ %>
                                              <p>blocked <i class="mdi mdi-thumb-down" style="color: rgb(255, 3, 3);"></i></p>
                                          <% } else { %>
                                              <p>Active <i class="mdi mdi-thumb-up" style="color: rgb(106, 255, 0);"></i></p> 
                                          <% } %>
                                      </td>
                                      <td>
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-fw m-2" data-toggle="modal" data-target="#exampleModal<%= singleProduct._id %>">view more</button>
                                        

                                          <!-- Modal for full details -->
                                        <div class="modal fade" id="exampleModal<%= singleProduct._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= singleProduct.productName %> Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
    <div class="product-details">
      <img class="product-image" src="/images/products/<%= singleProduct.coverPic[0] %>" alt="image of Product" style="width: 100px; height: 100px;">
        <h4><%= singleProduct.productName %></h4>
        <p><%= singleProduct.description %></p>
        <p><strong>Color:</strong> <%= singleProduct.color %></p>
        <p><strong>Price:</strong> <%= singleProduct.price %></p>
        <p><strong>Category:</strong> <%= singleProduct.category.categoryName %></p>
        <p><strong>Quantity:</strong> <%= singleProduct.quantity %></p>
        <p><strong>createdAt:</strong> <%= singleProduct.createdAt%></p>
        <% for(let i = 0; i < singleProduct.coverPic.length; i++) { %>
    <img class="product-image" src="/images/products/<%= singleProduct.coverPic[i] %>" alt="image of Product" style="width: 60px; height: 60px;">
<% } %>

        <!-- Add more fields as needed -->
    </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-warning" href="/admin/edit-product?id=<%= singleProduct._id %>">Edit</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
                                        </div>
                                        </div>
                                        </div>
                                          <!-- modal end  here -->
                                        
                                        <% if ( singleProduct.offer ){%> 
                                        <button onclick="removeCategoryOffer('<%= singleProduct._id %>')" class="m-2 btn btn-danger btn-sm" style="margin-top: 34px;"> Remove offer </button>
                                        <% } else {%>
                                        <button type="button" class="btn btn-success btn-sm btn-fw m-2" data-toggle="modal" data-target="#offerModal<%= singleProduct._id %>">Apply Offer</button>

                                         <!-- Modal to apply offer to product start -->
                                       <div class="modal fade" id="offerModal<%= singleProduct._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document" style="max-width: 800px !important">
                                        <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply Offer On <%= singleProduct.productName %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          
                            <div class="row">
                              

         
                              <% if( availableOffers && availableOffers.length > 0) { %>
                                <% for( offer of availableOffers ) { %>
<div class="col-md-4 mb-4">
    <% const randomColor = () => {
        const getRandomHex = () => Math.floor(Math.random() * 256).toString(16).padStart(2, '0');
        return `#${getRandomHex()}${getRandomHex()}${getRandomHex()}`;
    } %>
    <div class="offerCard mt-2" style="background-color: <%= randomColor() %>;">
<div class="text-center">
 <div class="d-flex flex-row text-center">
 <img src="https://png.pngtree.com/png-vector/20230214/ourmid/pngtree-special-offer-png-image_6601226.png" width="150px">
<div class="d-flex flex-column ml-1">
<h1 class="mb-0 percent"><%= offer.percentage %>%</h1>

 <span class="discount">Discount</span>
</div>
</div>
</div>
<hr class="line">
<span class="text-white  h5"><%= offer.name %></span>
 <p class="text-warning">Valid from <%= offer.startingDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                                  month: 'short' , day: '2-digit' }).replace(/\//g,'-') %> to <br><%= offer.expiryDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                                  month: 'short' , day: '2-digit' }).replace(/\//g,'-') %> </p>
 <div class="d-flex justify-content-between align-items-center mt-4">
<span class="text-white">Apply Offer</span>
<div class="form-check form-switch">
<button class="btn btn-warning" onclick="applyOffer('<%= offer._id %>','<%= singleProduct._id %>')">Apply</button>
</div>
</div>
</div>

</div>
   <% } %>
                                <% } %>
                                </div>
                           
                          


</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
                                        </div>
                                        </div>  
                                       </div>
                                        <!-- Modal to apply offer to product end -->
                                        <% }%>
                                        
                                        <a class="m-2 btn btn-warning btn-sm btn-fw" href="/admin/edit-product?id=<%= singleProduct._id %>">Edit</a>
                                          
                                        </td>
                                       
                                  </tr>
                              <% }); %>
                          <% } else { %>
                              <tr>
                                  <td colspan="10">Product Not Found</td>
                              </tr>
                          <% } %>
                      </tbody>
                  </table>
                  
                

                  </div>
                </div>
              </div>
            </div>
           </div>
           
         
         
         <!-- partial -->
       </div>
       <!-- main-panel ends -->
     </div>
     <!-- page-body-wrapper ends -->
   </div>
   <!-- container-scroller -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  async function applyOffer(offerId, productId) {
    try {
      const response = await fetch('/admin/apply_offer', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ offerId, productId }),
      });

      if (response.ok) {
        const data = await response.json();

        if (data.success) {
          Swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'Offer Applied successfully.',
          }).then(() => {
            // Close the modal
            $(`#offerModal${productId}`).modal('hide');
            // Refresh the page
            window.location.reload();
          });;
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: data.message,
          });
        }
      } else {
        console.error('Error applying offer:', response.statusText);
        Swal.fire('Error applying offer. Please try again.');
      }
    } catch (error) {
      console.error('Error applying offer:', error);
      Swal.fire('Error applying offer. Please try again.');
    }
  }
  async function removeCategoryOffer(productId) {
  try {
    const response = await fetch('/admin/remove_offer', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ productId }),
    });

    if (response.ok) {
      const data = await response.json();
      if (data.success) {
          Swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'Offer Removed successfully.',
          }).then(() => {        
            // Refresh the page
            window.location.reload();
          });;
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: data.message,
          });
        }
    } else {
      console.error('Error removing offer field:', response.statusText);
    }
  } catch (error) {
    console.error('Error removing offer field:', error);
  }
}
</script>
    
      
<%- include("../layouts/adminfooter.ejs") %>