<%- include ('../layouts/userheader.ejs')%>

<body>
   <!-- Start Header Area -->
<%- include ('../layouts/userSideBar.ejs')%>
<!-- End Header Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Profile Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Element</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- toggle bar -->
<% if(typeof message !== 'undefined') { %>
                                <p style="color: red;"><%= message %></p>  
                            <% } %>
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link " id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Profile Settings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#address" role="tab" aria-controls="profile"
				 aria-selected="false">Address</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
				 aria-selected="false">wallet</a>
			</li>
            <li class="nav-item">
				<a class="nav-link " id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
				 aria-selected="false">Coupon</a>
			</li>
            <li class="nav-item">
				<a class="nav-link " id="referral-tab" data-toggle="tab" href="#referral" role="tab" aria-controls="referral"
				 aria-selected="false">Referral</a>
			</li>
            
			
		</ul>
		<div class="tab-content" id="myTabContent">

            <!-- Profile Settings -->
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="home-tab">			
            <div class="container">

                            <div class="col-lg-12 col-md-12">
                                    <div class="col-md-12 mb-12">
                                        <div class="card">
                                           
                                            <div class="card-body" id="profileContent">
                                                <div class="d-flex justify-content-between"> 
                                                        <h5 class="p-3"><img class="rounded-circle me-lg-2" src="images/userProfile/<%=user.image%>" alt="" style="width: 55px; height: 55px;">  <%=user.name%> </h5> 
                                                    </div> 
                                                <!-- Move the Remove button to the upper-right corner -->
                                              
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Full Name: <%=user.name%></li>
                                                    <li class="list-group-item">Mobile: <%=user.mobile%></li>
                                                    <li class="list-group-item">Email: <%=user.email%></li>
                                                    
                                                    <!-- <button type="button" class="btn primary-btn m-2" data-toggle="modal" data-target="">Edit</button> -->
                                                    
                                                    
                                                    
                                                </ul>                                                     
                                            </div>
                                        </div>
                                    </div>
                            
                               
                            </div>  
                            
                            
                                 <div class="col-lg-12 col-md-12 mt-3">
                                    <div class="col-md-12 mb-12">
                                        <div class="card">
                                            <div class="card-body">

                                                <h5 class="card-title text-muted">Edit Profile</h5>
                                                <div class="d-flex  col-md-8 mb-8 " > 
                                                   
                                                    <button type="button"  class="btn btn-primary mb-5 m-1" data-toggle="modal" data-target="#editProfileModal">edit <i class="ti-pencil-alt"></i> </button>
                                                    <button type="button"  class="btn btn-primary mb-5 m-1" data-toggle="modal" data-target="#editPasswordModal">edit Password <i class="ti-pencil-alt"></i> </button>
                                                    <!-- <button type="button"  class="btn primary-btn mb-5" data-toggle="modal" data-target="#editProfileModal">delete Account <i class="ti-pencil-alt"></i> </button> -->
                                                     <!-- modal -->
                                                        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                                                         <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                        </button>
                                     </div>
                                    <div class="modal-body">
                                  <!-- Your existing form goes here -->
                                     <form id="editProfileForm" action="" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="user_id" value="<%=user._id%>">

                                            <div class="mt-10">
                                            <label class="form-label">UserAvatar</label>
                                                <br>
                                                    <br>
                                                     <div id="imageContainer" style="cursor: pointer; position: relative; display: inline-block;">
                                                        <img id="imagePreview" class="rounded-circle me-lg-2" src="images/userProfile/<%=user.image%>" alt="" style="width: 100px; height: 100px;">
                                                         <div id="imageOverlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; background: rgba(0, 0, 0, 0.5); justify-content: center; align-items: center;">
                                                                 <span style="color: white; font-size: 24px;">+</span>
                                                        </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <input type="file" id="imageInput" name="image" class="single-input" style="display: none;" onchange="previewImage(this)">
                                                        </div>

                                                         <div class="mt-10">
                                                          <label class="form-label">UserName</label>
                                                         <input type="text" name="name" placeholder="<%=user.name%>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%=user.name%>'" required class="single-input" value="<%=user.name%>">
                                                         </div>
                                                         <div class="mt-10">
                                                          <label class="form-label">Phone</label>
                                                          <input type="tel" name="mno" placeholder="<%=user.mobile%>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%=user.mobile%>'" required class="single-input" value="<%=user.mobile%>">
                                                         </div>
                                                            <input type="hidden" name="user_id" value="<%=user._id%>">

                                                             <button type="submit" onclick="showConfirmation()" class="btn primary-btn">Update Profile</button>

                                                 </form>
                                    </div>
                                    </div>
                                                         </div>
                                                        </div>
                                                     <!-- modal end -->
                                                     <!-- modal -->
                                                        <div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="editPasswordModalLabel" aria-hidden="true">
                                                         <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="editProfileModalLabel">Edit Password</h5>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <!-- Your existing form goes here -->
                                                         <form id="changePasswordForm" action="/changepassword" method="post">
    <input type="hidden" name="user_id" value="<%=user._id%>">
    <div class="mt-10">
        <label class="form-label">Current Password</label>
        <input type="password" name="currentpassword" placeholder="Password" required class="single-input">
    </div>
    <div class="mt-10">
        <label class="form-label">New Password</label>
        <input type="password" name="newpassword" placeholder="Password" required class="single-input">
    </div>
    <div class="mt-10">
        <label class="form-label">Confirm Password</label>
        <input type="password" name="confirmpassword" placeholder="Password" required class="single-input">
    </div>
    <button type="button" onclick="changePassword()" class="btn primary-btn">
        <span>CHANGE PASSWORD</span>
    </button>
</form>

                                    </div>
                                    </div>
                                                        </div>
                                                        </div>
                                                     <!-- modal end -->
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                   
            </div>
			</div>
            <!-- Address -->
			<div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">

                    <div class="col-lg-8 col-md-8">

                    <button type="button" class="btn primary-btn mb-5" data-toggle="modal" data-target="#addAddressModal">
                        Add Address
                      </button>
                      <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>



                              <div class="modal-body">
                                  <!-- Your form goes here -->
                                  <form action="/address" method="post" onsubmit="return validateFormAddAddress()" id="addAddressForm">
    <div class="form-group">
        <label for="FullName">Full Name *</label>
        <input type="text" class="form-control" id="FullName" name="fullName" style="height: 37px" onblur="validateName()">
        <span class="error-message text-danger" id="fullNameError"></span>
    </div>
    <div class="form-group">
        <label for="country">Country *</label>
        <input type="text" class="form-control" id="country" name="country" style="height: 37px" onblur="validateCountry()">
        <span class="error-message text-danger" id="countryError"></span>
    </div>
    <div class="form-group">
        <label for="city">City *</label>
        <input type="text" class="form-control" id="city" name="city" style="height: 37px" onblur="validateCity()">
        <span class="error-message text-danger" id="cityError"></span>
    </div>
    <div class="form-group">
        <label for="state">State *</label>
        <input type="text" class="form-control" id="state" name="state" style="height: 37px" onblur="validateState()">
        <span class="error-message text-danger" id="stateError"></span>
    </div>
    <div class="form-group">
        <label for="pinCode">Pin Code *</label>
        <input type="text" class="form-control" id="pinCode" name="pincode" style="height: 37px" onblur="validatePinCode()">
        <span class="error-message text-danger" id="pinCodeError"></span>
    </div>
    <div class="form-group">
        <label for="phone">Mobile *</label>
        <input type="tel" class="form-control" id="phone" name="mobile" style="height: 37px" onblur="validateMobile()">
        <span class="error-message text-danger" id="phoneError"></span>
    </div>
    <button type="submit" class="btn btn-primary" id="addAddress">Save Address</button>
</form>
                                
                              </div>
                          </div>
                        </div>
                      </div>
                        </div>


                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <% if (address[0]){%>
                                <% for(let i=0; i<address[0].addresses.length; i++) { %>
                                    <div class="col-md-4 mb-4">
                                        <div class="card">
                                           
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between"> 
                                                    <h5 class="p-3">Address <%= i + 1 %></h5>
                                                        <form action="/deleteAddress" method="post" id="deleteAddressForm" >
                                                            <input type="hidden" name="id" value="<%= address[0].addresses[i]._id %>">
                                                            <button type="submit"  class="btn btn-outline-danger btn-sm pl-2 m-2"><i class="ti-trash"></i></button>
                                                        </form>
                                                </div> 
                                               
                                                <!-- Move the Remove button to the upper-right corner -->
                                              
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Full Name: <%= address[0].addresses[i].fullName%></li>
                                                    <li class="list-group-item">Mobile: <%= address[0].addresses[i].mobile %></li>
                                                    <li class="list-group-item">Country: <%= address[0].addresses[i].country %></li>
                                                    <li class="list-group-item">City: <%= address[0].addresses[i].city %></li>
                                                    <li class="list-group-item">State: <%= address[0].addresses[i].state %></li>
                                                    <li class="list-group-item">Pincode: <%= address[0].addresses[i].pincode %></li>
                                                    <!-- <li class="list-group-item">Pincode: <%= address[0].addresses[i]._id %></li> -->
                                                    <button type="button" class="btn primary-btn m-2" data-toggle="modal" data-target="#editAddressModal<%= i %>">Edit</button>
                                                    
                                                    
                                                    
                                                </ul>

                                                <!-- address edit starts here -->


                                                

                                                <div class="modal fade" id="editAddressModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
                                                          <button type="button" class="btn primary-btn btn-sm" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                          <div class="modal-body">
                                                              <!-- Your form goes here -->
                                                              <form action="/updateAddress" method="post">
                                                                <input type="hidden" name="id" value="<%= address[0].addresses[i]._id %>">
                                                            
                                                                <div class="form-group">
                                                                    <label for="FullName">Full Name *</label>
                                                                    <input type="text" class="form-control" id="FullNameEdit" name="fullName" style="height: 37px" value="<%= address[0].addresses[i].fullName%>" onBlur="validateName(), validateForm()">
                                                                    <span class="error-message text-danger" id="fullNameErrorBox"></span>
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="country">Country *</label>
                                                                    <input type="text" class="form-control" id="countryEdit" name="country" style="height: 37px" value="<%= address[0].addresses[i].country %>" onBlur="validateCountry(), validateForm()">
                                                                    <span class="error-message text-danger" id="countryErrorBox"></span>
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="city">City *</label>
                                                                    <input type="text" class="form-control" id="cityEdit" name="city" style="height: 37px" value="<%= address[0].addresses[i].city %>" onBlur="validateCity(), validateForm()">
                                                                    <span class="error-message text-danger" id="cityErrorBox"></span>
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="state">State *</label>
                                                                    <input type="text" class="form-control" id="stateEdit" name="state" style="height: 37px" value="<%= address[0].addresses[i].state %>" onBlur="validateState(), validateForm()">
                                                                    <span class="error-message text-danger" id="stateErrorBox"></span>
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="pinCode">Pin Code *</label>
                                                                    <input type="text" class="form-control" id="pinCodeEdit" name="pincode" style="height: 37px" value="<%= address[0].addresses[i].pincode %>" onBlur="validatePinCode(), validateForm()">
                                                                    <span class="error-message text-danger" id="pinCodeErrorBox"></span>
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="phone">Mobile *</label>
                                                                    <input type="tel" class="form-control" id="phoneEdit" name="mobile" style="height: 37px" value="<%= address[0].addresses[i].mobile %>" onBlur="validateMobile() , validateForm()">
                                                                    <span class="error-message text-danger" id="phoneErrorBox"></span>
                                                                </div>
                                                            
                                                                <button type="submit" class="btn btn-primary" id="submitButtonEdit" style="display: none;">Update Address</button>
                                                            </form>
                                                            
                                                          </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                 
                                                  
                                            </div>
                                        </div>
                                    </div>
                                <% }}else{ %>  
                                    <h3>No Address fount!</h3>  <% } %>     
                            </div>
                        </div>
                        
                           

                </div>
			</div>
            <!-- Wallet -->
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
             <div class="row d-flex justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body p-md-5">
                <div>
                    <h4>Wallet Account <span class="text-warning">#<%=user.name%></span></h4>
                    <p class="text-muted pb-2">
                        User can make payments on the checkout page using the Wallet
                    </p>
                  </div>
                 <div class="px-3 py-4 border border-primary border-2 rounded mt-4 d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://cdn3.iconfinder.com/data/icons/shopping-icons-14/128/05_Wallet-512.png" class="rounded" width="60" />
                            <div class="d-flex flex-column ms-4">
                                <span class="h5 mb-1">Wallet Savings</span>
                                <span class="small text-muted">in Account</span>
                            </div>
                        </div>

                         <% if (user.wallet > 0) { %>
                   
                        <div class="d-flex flex-row align-items-center">
                            <sup class="dollar font-weight-bold text-muted">₹</sup>
                            <span class="h2 mx-1 mb-0"><%=user.wallet%></span>
                            <span class="text-muted font-weight-bold mt-2">/ Account</span>
                        </div>
                      <button type="button" class="btn primary-btn " data-toggle="modal" data-target="#addmoney">Add money to Wallet </button>
                  </div>

                    <h4 class="mt-5">Wallet history</h4>

                    <% user.walletHistory.reverse().forEach(historyItem => { %>
                        <% const { transactionDate, transactionDetails, transactionType, transactionAmount, currentBalance, _id } = historyItem; %>
                        <div class="mt-2 d-flex justify-content-between align-items-center border border-primary border-2 rounded mt-4 p-4">
                            <div class="d-flex flex-row align-items-center w-100">
                                <div class="w-25">
                                    <% if (transactionType === "Debit") { %>
                                        <img src="https://cdn3.iconfinder.com/data/icons/money-and-credit-card/100/money_pay_payment_dollar-09-512.png" class="rounded img-fluid" />
                                    <% } else { %>
                                        <img src="https://cdn3.iconfinder.com/data/icons/money-and-credit-card/100/money_pay_payment_dollar-07-512.png" class="rounded img-fluid" />
                                    <% } %>
                                </div>
                                <div class="d-flex flex-column ms-3 w-75 ml-4">
                                    <span class="h5 mb-1">Transition id#<span class="text-warning"> <%= _id %></span></span>
                                    <span class="small text-muted"><%= transactionDetails %></span>
                                    <span class="small text-muted">Transaction Date: <%= transactionDate %></span>
                                    <span class="small text-muted">Transaction Type: <%= transactionType %></span>
                                    <span class="small text-muted">Transaction Amount: ₹<%= transactionAmount %></span>
                                    <!-- <span class="small text-muted">Balance in Wallet: <%= currentBalance %></span> -->
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="d-flex flex-row align-items-center">
                            <sup class="dollar font-weight-bold text-muted">₹</sup>
                            <span class="h2 mx-1 mb-0">0</span>
                            <span class="text-muted font-weight-bold mt-2">/ Account</span>
                        </div>
                        <button type="button" class="btn primary-btn " data-toggle="modal" data-target="#addmoney">Add money to Wallet </button>
            </div>

                    
                <% } %>

                <div class="mt-3">
                    <button type="button" class="btn primary-btn btn-block btn-lg" data-toggle="modal" data-target="#addmoney">Add money to Wallet </button>


<!-- Modal -->
                                                    <div class="modal fade" id="addmoney" tabindex="-1" role="dialog" aria-labelledby="addmoneyLabel" aria-hidden="true">
                                                         <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="editProfileModalLabel">Add money to Wallet</h5>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <!-- Your existing form goes here -->
                                                         <form  id="wallet-form" >
                                                            <input type="hidden" name="user_id" value="<%=user._id%>">   
                                                             <div class="mt-10">
                                                                <label class="form-label">Enter Amount</label>
                                                                 <input type="number" name="amount" placeholder="1000" required class="single-input" id="amount">
                                                                 <p id="err" class="text-danger"></p>
                                                                     </div>
                                                                     <button type="submit" class="btn primary-btn"><span>Add Money</span></button>
                                                                        </form>
                                                                         </div>
                                                                         </div>
                                                                        </div>
                                                </div>
                 </div>
                                                    <!-- Modal -->
            </div>
        </div>
             </div>
            </div>
            </div>
			<div class="tab-pane fade " id="review" role="tabpanel" aria-labelledby="review-tab">
			<div class="row">
<div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body p-md-5">
                <div>
                    <h4>Coupons <span class="text-warning">#<%=user.name%></span></h4>
                    <p class="text-muted pb-2">
                        User can use Coupons on payments on the checkout page.
                    </p>
                </div>
            <% for(let i in coupons){ %>
            <% var dateTo = new Date(coupons[i].validTo); %>
            <% var redeemed = null; %>
            <% for (var j = 0; j < coupons[i].usedUsers.length; j++) { %>
            <% var usersId = coupons[i].usedUsers[j]; %>
            <% if (usersId.toString() === user._id.toString()) { %>
            <% redeemed = usersId; %>
            <% break; %>
            <% } %>
            <% } %>
            <% if (dateTo >= new Date()) { %>
               <div class="mt-2 d-flex justify-content-between align-items-center border border-primary border-2 rounded mt-4 p-4">
            <div class="d-flex flex-row align-items-center w-100">
                <div class="w-25">
                    <img src="https://static.vecteezy.com/system/resources/previews/012/872/323/original/discount-coupon-3d-png.png" class="rounded img-fluid" />
                </div>
                <div class="d-flex flex-column ms-3 w-75 ml-4">
                    <h5 class="text-danger">
                        <% if (redeemed !== null) { %>
                            <i class="fa-solid fa-medal"></i> Redeemed
                        <% } %>
                    </h5>
                    <h6 class="card-title mb-1 <% if (redeemed !== null) { %> text-light<% }else{%> text-warning<%} %>" style="font-size: 25px;"> #CoupenCode :<%= coupons[i].couponCode %></h6>
                    
                    <span class="small text-muted"></span>
                    <span class="small text-muted">Discription <%= coupons[i].description %></span>
                    <span class="small text-muted">Discount Amount: ₹<%= coupons[i].discountAmount %></span>
                    <span class="small text-muted"><b>T&C: </b>Coupon requires a <%= coupons[i].minimumSpend %> minimum purchase. Use the code at checkout. Cannot be combined with other promotions. Limited-time offer.</span>            
                    <% if (redeemed == null) { %>
                        <p class="text-dark" type="button">expire on : <%= dateTo.toLocaleDateString() %></p>  
                    <% } %>
                    <button class="btn primary-btn" onclick="copyCouponCode('<%= coupons[i].couponCode %>')">Copy Code</button>
                </div>
            </div>
               </div>
            <% } %>
            <% } %>
            <% if (coupons.length === 0) { %>
                <div class="error-content text-center">
        <dotlottie-player class="mx-auto d-block" src="https://lottie.host/06cd7198-15a2-4678-9d20-ce015cd579c7/0EXKLAFTwK.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        <h1 class="error-title">No Coupons Available !</h1>
        
        
                </div>
            <% } %>    
			</div>
		</div>
	</div>
</div>
            </div>
            <div class="tab-pane fade " id="referral" role="tabpanel" aria-labelledby="referral-tab">
			<div class="row">
<div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body p-md-5">
                <div>
                    <h4>Referral <span class="text-warning">#<%=user.name%></span></h4>
                    <p class="text-muted pb-2">Fill your Wallet by Referrals</p>    
                </div>


               <div class="card d-flex flex-column align-items-center justify-content-center">
                            
                             <dotlottie-player src="https://lottie.host/f11783a8-0fd2-4e3d-9dd6-a83bc74a7649/g3V5LQoNYh.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></dotlottie-player>
                             <h2 class="mt-4 p-1"><strong>Refer RcHub To Your Friends And Gain <span class="text-warning">100 ₹ </span> Wallet Credit ! </strong></h2>
                             
                                <button class="btn primary-btn m-4 pl-2 pr-2" id="referalCodeUser"><%= user.referralCode %></button>
                            
                </div>
                
                
                    <div class="card d-flex flex-column align-items-center justify-content-center mt-4 mb-4 p-2">
                        <%if(user.isReferralUsed==0){%>
                             
                             <h2 class="mt-4 p-1"><strong>Credit your <span class="text-warning">100 ₹ </span> Wallet Credit ! </strong></h2>


                            <input type="text" class="form-control m-5" name="referralCode"  id="referralCode" placeholder="Referral Code">

           <button id="applyRefer"  class="btn btn-success m-4" onclick="applyRefer($('#referralCode').val())">  Apply Referral Code</button>



                                
                          <%}else{%>                         
                             <dotlottie-player src="https://lottie.host/9b153c6d-5322-467d-bf7d-a431367aaf90/rRG7DOZwKA.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></dotlottie-player>
                             <h2 class="mt-4 mb-4 p-1"><strong> You Already Credited your <span class="text-warning">100 ₹ </span> Referral Credit ! </strong></h2>
        
                           <%}%>               
                </div>
                

                <div class="card p-3">
                    <h4>Referral History<span class="text-warning">#<%=user.name%></span></h4>
                    <p class="text-muted pb-2"> Fill your Wallet by Referrals</p>

                    <div class="px-3 py-4 border border-primary border-2 rounded mt-4 d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://www.pngall.com/wp-content/uploads/10/USD-Coin-Logo-PNG-File.png" class="rounded" width="60" />
                            <div class="d-flex flex-column ms-4 ml-4">
                                <span class="h5 mb-1">Referral Savings</span>
                                <span class="small text-muted">By referrels</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <sup class="dollar font-weight-bold text-muted">₹</sup>
                            <span class="h2 mx-1 mb-0"><%=user.referralAmountCredited%></span>
                            <span class="text-muted font-weight-bold mt-2">/ Wallet</span>
                        </div>
                      
                      <div class="d-flex flex-row align-items-center">
                            <sup class="dollar font-weight-bold text-muted">Referred</sup>
                            <span class="h2 mx-1 mb-0 text-warning"><%=user.userReferralUsed%></span>
                            <span class="text-muted font-weight-bold mt-2">/users </span>
                        </div>
                  </div>
                  <% if (referralHistory && referralHistory.length > 0) { %>
    <% for (let index = referralHistory.length - 1; index >= 0; index--) { %>
        <% const historyItem = referralHistory[index]; %>
        <% const { transactionDate, transactionDetails, transactionType, transactionAmount, currentBalance, _id } = historyItem; %>
        <div class="mt-2 d-flex justify-content-between align-items-center border border-primary border-2 rounded mt-4 p-4">
            <div class="d-flex flex-row align-items-center w-100">
                <div class="w-25">
                    <% if (transactionType === "Debit") { %>
                        <img src="https://cdn3.iconfinder.com/data/icons/money-and-credit-card/100/money_pay_payment_dollar-09-512.png" class="rounded img-fluid" />
                    <% } else { %>
                        <img src="https://cdn3.iconfinder.com/data/icons/money-and-credit-card/100/money_pay_payment_dollar-07-512.png" class="rounded img-fluid" />
                    <% } %>
                </div>
                <div class="d-flex flex-column ms-3 w-75 ml-4">
                    <span class="h5 mb-1">Transition id#<span class="text-warning"> <%= _id %></span></span>
                    <span class="small text-muted"><%= transactionDetails %></span>
                    <span class="small text-muted">Transaction Date: <%= transactionDate %></span>
                    <span class="small text-muted">Transaction Type: <%= transactionType %></span>
                    <span class="small text-muted">Transaction Amount: ₹<%= transactionAmount %></span>
                    <!-- <span class="small text-muted">Balance in Wallet: <%= currentBalance %></span> -->
                </div>
            </div>
        </div>
    <% } %>
<% } else { %>
    <p>No referral history available.</p>
<% } %>
                  

                </div>              
			</div>
		</div>
	</div>
</div>
            </div>






</div>
</section>
<!-- toogle end -->
<!-- end modal Area -->
<!-- start footer Area -->
<%- include ('../layouts/userContentFooter.ejs')%>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyDE8JL1+U5OqriOT9hOJpL4W9uB1EmEFA" crossorigin="anonymous">
<!-- Add Font Awesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SYF5RnHPBlCv9bp5Qx4/PFaP5Pi1FZD5P+J6" crossorigin="anonymous">
<script>
    function applyRefer(code) {
        $.ajax({
            url: "/referralCodeApply",
            data: {
                code: code,
            },
            method: "post",
            success: (response) => {
                if (response.referralCodeOkay) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Discount redeemed',
                        showConfirmButton: false,
                        timer: 1500,
                        onClose: () => {
                            location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops !!!',
                        text: 'Invalid Referral Code!!!'
                    });
                }
            }
        });
    }

    function activateReferralTab() {
        $('#myTab a[href="#referral"]').tab('show');
    }
    $(document).ready(function () {
        activateReferralTab();
    });
</script>
<script>
    async function changePassword() {
        // Collect form data
        var formData = $('#changePasswordForm').serialize();

        // Send AJAX request
        try {
            const response = await $.ajax({
                type: 'POST',
                url: '/changepassword',
                data: formData,
            });

            // Handle the response
            if (response.success) {
    // Password changed successfully, show SweetAlert success message
    Swal.fire({
        icon: 'success',
        title: 'Success',
        text: 'Password changed successfully.',
    })
}
            else {
                // Display SweetAlert error message
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: response.message,
                });
            }
        } catch (error) {
            // Handle AJAX request error
            console.log('Error in AJAX request', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred. Please try again later.',
            });
        }
    }
</script>
<script>
    document.getElementById('deleteAddressForm').addEventListener('submit', function(event) {
    event.preventDefault();

    Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, remove it!'
    }).then((result) => {
        if (result.isConfirmed) {
            this.submit(); // Submit the form if confirmed
        }
    });
});
    function validateForm() {
        var fullName = document.getElementById("FullName").value;
        var country = document.getElementById("country").value;
        var city = document.getElementById("city").value;
        var state = document.getElementById("state").value;
        var pincode = document.getElementById("pinCode").value;
        var mobile = document.getElementById("phone").value;

        // Function to display an error message
        function showError(inputElement, errorMessage, errorId) {
            var errorElement = document.getElementById(errorId);
            errorElement.innerHTML = errorMessage;
            errorElement.style.display = "block";
        }

        // Function to hide the error message
        function hideError(errorId) {
            var errorElement = document.getElementById(errorId);
            errorElement.innerHTML = "";
            errorElement.style.display = "none";
        }

        // Validation for Full Name (non-empty)
        if (fullName === "") {
            showError(document.getElementById("FullName"), "Full Name must be filled out", "fullNameError");
            return false;
        } else {
            hideError("fullNameError"); // Hide the error if the field is not empty
        }

        // Validation for Country (non-empty)
        if (country === "") {
            showError(document.getElementById("country"), "Country must be filled out", "countryError");
            return false;
        } else {
            hideError("countryError"); // Hide the error if the field is not empty
        }

        // Validation for City (non-empty)
        if (city === "") {
            showError(document.getElementById("city"), "City must be filled out", "cityError");
            return false;
        } else {
            hideError("cityError"); // Hide the error if the field is not empty
        }

        // Validation for State (non-empty)
        if (state === "") {
            showError(document.getElementById("state"), "State must be filled out", "stateError");
            return false;
        } else {
            hideError("stateError"); // Hide the error if the field is not empty
        }

        // Validation for Pin Code (non-empty, only numbers)
        var pinCodePattern = /^\d+$/;
        if (pincode === "") {
            showError(document.getElementById("pinCode"), "Pin Code must be filled out", "pinCodeError");
            return false;
        } else if (!pinCodePattern.test(pincode)) {
            showError(document.getElementById("pinCode"), "Pin Code should only contain numbers", "pinCodeError");
            return false;
        } else {
            hideError("pinCodeError"); // Hide the error if the field is not empty and valid
        }

        // Validation for Mobile Number (10 digits with the pattern "1111111111")
        var mobilePattern = /^\d{10}$/;
        if (!mobile.match(mobilePattern)) {
            showError(document.getElementById("phone"), "Mobile Number should be 10 digits in the format '1111111111'", "phoneError");
            return false;
        } else {
            hideError("phoneError"); // Hide the error if the field is valid
        }

        return true; // Form is valid
    }
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission behavior

            if (validateForm()) {
                // Assuming the form is successfully submitted here
                swal("Success", "Address added successfully!", "success");
            }
        });
    });
</script>
<script>
    function validateName() {
        const fullName = document.getElementById('FullName').value.trim();
        const fullNameRegex = /^[A-Za-z][A-Za-z\s]*$/;
        const fullNameError = document.getElementById('fullNameError');
        fullNameError.textContent = '';

        if (!fullNameRegex.test(fullName)) {
            fullNameError.textContent = "Full Name must start with a letter and can include letters and spaces but not at the beginning.";
        }
    }

    function validateCountry() {
        const country = document.getElementById('country').value.trim();
        const countryError = document.getElementById('countryError');
        countryError.textContent = '';

        if (country === "") {
            countryError.textContent = "Country must be filled out";
        }
    }

    function validateCity() {
        const city = document.getElementById('city').value.trim();
        const cityError = document.getElementById('cityError');
        cityError.textContent = '';

        if (city === "") {
            cityError.textContent = "City must be filled out";
        }
    }

    function validateState() {
        const state = document.getElementById('state').value.trim();
        const stateError = document.getElementById('stateError');
        stateError.textContent = '';

        if (state === "") {
            stateError.textContent = "State must be filled out";
        }
    }

    function validatePinCode() {
        const pinCode = document.getElementById('pinCode').value.trim();
        const pinCodeError = document.getElementById('pinCodeError');
        pinCodeError.textContent = '';

        const pinCodePattern = /^\d+$/;
        if (pinCode === "") {
            pinCodeError.textContent = "Pin Code must be filled out";
        } else if (!pinCodePattern.test(pinCode)) {
            pinCodeError.textContent = "Pin Code should only contain numbers";
        }
    }

    function validateMobile() {
        const mobile = document.getElementById('phone').value.trim();
        const mobileError = document.getElementById('phoneError');
        mobileError.textContent = '';

        const mobilePattern = /^\d{10}$/;
        const consecutiveNumbersRegex = /(\d)\1\1\1/;

        if (!mobilePattern.test(mobile) || consecutiveNumbersRegex.test(mobile)) {
            mobileError.textContent = "Mobile number must be exactly 10 digits and should not include repetition of four consecutive numbers.";
        }
    }

    function validateFormAddAddress() {
        validateName();
        validateCountry();
        validateCity();
        validateState();
        validatePinCode();
        validateMobile();

        const fullNameError = document.getElementById('fullNameError').textContent;
        const countryError = document.getElementById('countryError').textContent;
        const cityError = document.getElementById('cityError').textContent;
        const stateError = document.getElementById('stateError').textContent;
        const pinCodeError = document.getElementById('pinCodeError').textContent;
        const phoneError = document.getElementById('phoneError').textContent;
        const submitButton = document.getElementById('addAddress');

        const formIsValid = !(fullNameError || countryError || cityError || stateError || pinCodeError || phoneError);

        if (formIsValid) {
            submitButton.style.display = 'block'; // Show the button
        } else {
            submitButton.style.display = 'none'; // Hide the button
        }

        return formIsValid; // Ensure the form submission is allowed only if the form is valid
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const imageContainer = document.getElementById('imageContainer');
        const imageInput = document.getElementById('imageInput');

        // Trigger the file input click when clicking on the image
        imageContainer.addEventListener('click', function () {
            imageInput.click();
        });

        // Show the overlay (plus sign) on hover
        imageContainer.addEventListener('mouseenter', function () {
            document.getElementById('imageOverlay').style.display = 'flex';
        });

        // Hide the overlay when not hovering
        imageContainer.addEventListener('mouseleave', function () {
            document.getElementById('imageOverlay').style.display = 'none';
        });

        // Input file change event
        imageInput.addEventListener('change', function () {
            previewImage(this);
        });

        document.getElementById('editProfileForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            showConfirmation();
        });

        async function showConfirmation() {
            const formData = new FormData(document.getElementById('editProfileForm'));

            try {
                const response = await fetch('/updateprofile', {
                    method: 'POST',
                    body: formData,
                });

                const data = await response.json();

                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: data.message,
                    }).then(() => {
                        // Update the content of the profileContent div
                        updateProfileContent(data.user);
                        // Close the modal
                        closeModal();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message,
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred. Please try again later.',
                });
            }
            closeModal()
        }

        // Function to update the profile content
        function updateProfileContent(user) {
            const profileContent = document.getElementById('profileContent');

            profileContent.innerHTML = `
                <div class="card-body">
                    <div class="d-flex justify-content-between"> 
                        <h5 class="p-3"><img class="rounded-circle me-lg-2" src="images/userProfile/${user.image}" alt="" style="width: 55px; height: 55px;">  ${user.name} </h5> 
                    </div> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Full Name: ${user.name}</li>
                        <li class="list-group-item">Mobile: ${user.mobile}</li>
                        <li class="list-group-item">Email: ${user.email}</li>
                    </ul>                                                     
                </div>
            `;
        }

        // Function to close the modal
        function closeModal() {
            // Assuming you are using Bootstrap modal
            $('#editProfileModal').modal('hide');
        }

        // Function to preview the selected image
        function previewImage(input) {
            const imagePreview = document.getElementById('imagePreview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    const err = document.getElementById('err')
    document.getElementById('wallet-form').addEventListener('submit',(e) =>{
        e.preventDefault()

        const amount = document.getElementById('amount').value.trim()
        if( !amount ) {
            e.preventDefault()
        }
        if( amount <= 0 ) {
            e.preventDefault()
            err.innerHTML = 'Amount cannot be negative!'
        }

        $.ajax({
            url: '/profile/addMoneyToWallet',
            method: 'post',
            data: { amount },
            success: (res) => {
                if(res.status){
                    console.log('opening razorpay');
                    razorpayPayment(res.payment)
                }else{
                    console.log('status false redirecting to walletHistory');
                    location.href = '/home'
                }
            }
        });

    });
    function razorpayPayment(order) {
            var options = {
                key: "rzp_test_Nh16B36kA20RNv", // Enter the Key ID generated from the Dashboard
                amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "USD",
                 name: "Rc_Hub", //your business name
      description: "Test Transaction",
      image: "/user/img/logo.png",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                prefill: {
        //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        name: " Rc_Hub", //your customer's name
        email: "Rc_Hub.com",
        contact: "9230566487", //Provide the customer's phone number for better conversion rates
      },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    color: "#FF7F00"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
        function verifyPayment(payment, order) {
                console.log(payment,order);
                $.ajax({
                    url: '/verifyWalletpayment',
                    method: 'post',
                    data: {
                        payment,
                        order
                    },
                    success: (res) => {
                        if (res.status) {
                            location.href = '/edit?id=<%=user._id%>'
                        } else{
                            location.href = '/edit?id=<%=user._id%>'
                            alert('Payment Failed');
                        }
                    }
                })
            }
</script>
<script>
function copyCouponCode(couponCode) {
    const tempInput = document.createElement('input');
    tempInput.value = couponCode;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);

    // Use SweetAlert for feedback
    Swal.fire({
        icon: 'success',
        title: 'Copied!',
        text: `Coupon code ${couponCode} has been copied to the clipboard.`,
        timer: 2000, // Display the alert for 2 seconds
        timerProgressBar: true,
        showConfirmButton: false
    });
}
</script>
<script>
    $(document).ready(function () {
        // Function to copy text to clipboard
        function copyToClipboard(text) {
            var input = document.createElement("input");
            input.value = text;
            document.body.appendChild(input);
            input.select();
            document.execCommand("copy");
            document.body.removeChild(input);
        }

        // Event listener for button click
        $("#referalCodeUser").click(function () {
            var referralCode = "<%= user.referralCode %>";
            copyToClipboard(referralCode);

            // Use SweetAlert for a nicer notification
            Swal.fire({
                icon: 'success',
                title: 'Referral code copied!',
                showConfirmButton: false,
                timer: 1500
            });
        });
    });
</script>

<%- include ('../layouts/userfooter.ejs')%>