<%- include ('../layouts/userheader.ejs')%>



<body>
<!-- Start Header Area -->
<%- include ('../layouts/userSideBar.ejs')%>
<!-- End Header Area -->

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                     <% if (banner && banner.length>=2) { %>
                     <% for (let i = 0; i < banner.length; i++) { %>
                        <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1><%= banner[i].bannerName%><br><%= banner[i].bannerName2%></h1>
                                <p><%= banner[i].specification%></p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href="/singleProduct/<%= banner[i].product._id %>"><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Explore The product</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="/images/banner/<%= banner[i].coverPic%>" alt="Inspire 1 V2.0">
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } else { %>
                         <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Explore New Collection<br>Of RcHub</h1>
                                <p>Explore the new products with RcHub</p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href="/shop"><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Explore The products</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="/user/img/banner/banner-img2.png" alt="Inspire 1 V2.0">
                            </div>
                        </div>
                    </div>
                      <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Explore The World<br>Of RcHub</h1>
                                <p>Explore the new products with RcHub</p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href="/shop"><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Explore The products</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="/user/img/banner/banner-img.png" alt="Inspire 1 V2.0">
                            </div>
                        </div>
                    </div>

                        <% } %>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/user/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on order over 500₹</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/user/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/user/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/user/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->

<!-- Start category Area -->
<section class="category-area">
    
    <div class="container">
        <div class="row justify-content-center">
            
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Category</h1>
                        <p>Discover a vast array of captivating RC products</p>
                    </div>
                </div>
            
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <% if(category){ %>
                    <% for(let i=0;i<category.length;i++){ %>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                             <% if(category[i].offer){ %>
                                
                            <div class="ribbon-2 text-white"><%=category[i].offer.percentage%>% Discount</div>
                             <!-- <div class="ribbon ribbon-bottom-right"><span style="text-transform:rotate(225deg)">New Offers!</span></div> -->
                            <% } %>

                            <img class="img-fluid w-100" src="/images/category/<%=category[i].coverPic%>" alt="">
                            <a href="/shop?category=<%= category[i]._id%>&sortValue=&minPrice=&maxPrice=&search=">
                                <div class="deal-details">
                                    <h6 class="deal-title"><%=category[i].categoryName%></h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% } %>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->

<!-- start product Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>Go explore the latest products</p>
                    </div>
                </div>
            </div>
            <div class="row">

                 <!-- single product -->
                 <% for(let i = product.length - 1; i >= Math.max(product.length - 9, 0); i--) { %>
                  
                     <div class="col-lg-3 col-md-6 m-4 card shadow-lg p-3 mb-5 bg-white rounded ">
              <div class="single-product ">

                             <% if (product[i].offer || product[i].category.offer) { %>
  <% if (product[i].offer && (!product[i].category.offer || product[i].offer.percentage > product[i].category.offer.percentage)) { %>
    <div class="ribbon ribbon-top-right" style="z-index: 1;"><span><%= product[i].offer.percentage %>% OFF!</span></div>
  <% } else if (product[i].category.offer) { %>
    <div class="ribbon ribbon-top-right" style="z-index: 1;"><span><%= product[i].category.offer.percentage %>% OFF!</span></div>
  <% } %>
<% } %>
                            <a href="/singleProduct/<%= product[i].id %>"><img class="img-fluid" src="/images/products/<%= product[i].coverPic[0] %>" alt="" ></a>
                            
                            <div class="product-details">
                                <h7><%= product[i].brand.brandName %></h7>
                                <h6><%= product[i].productName %></h6>
                                <div class="price">
                                    
                                    <div class="price">
                    <% if (product[i].offer && (!product[i].category.offer || product[i].offer.percentage > product[i].category.offer.percentage)) { %>
                        <h6 class="l-through">₹<%= product[i].price %></h6>
                      <h6>₹<%= product[i].discountedPrice %></h6>
                    <% } else if (product[i].category.offer) { %>  
                        <h6 class="l-through">₹<%= product[i].price %></h6>
                      <h6>₹<%= product[i].categoryDiscountedPrice %></h6>  
                    <% } else { %>
                      <h6>₹<%= product[i].price %></h6>
                    <% } %>
                  </div>
      </div>
                                <div class="prd-bottom">
                                    <%if(typeof user !== 'undefined') {%>
                                    <a onclick="addToCart('<%= product[i].id %>')" class="add-cart social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to Cart</p>
                                    </a>
                                    <a  class="social-info" id="wishlist-button">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <%}%>
                                    <a href="/singleProduct/<%= product[i].id %>" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
        </div>
    </div>
   <% for (let i = 0; i < category.length; i++) { %>
  <div class="single-product-slider">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1><%= category[i].categoryName %></h1>
            <p><%= category[i].specification %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single product -->
        <% let productsDisplayed = 0; %>
        <% for (let j = 0; j < product.length; j++) { %>
          <% if (category[i].categoryName === product[j].category.categoryName) { %>
           <div class="col-lg-3 col-md-6 m-3 card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="single-product ">
<% if (product[j].offer || product[j].category.offer) { %>
  <% if (product[j].offer && (!product[j].category.offer || product[j].offer.percentage > product[j].category.offer.percentage)) { %>
    <div class="ribbon ribbon-top-right" style="z-index: 1;"><span><%= product[j].offer.percentage %>% OFF!</span></div>
  <% } else if (product[i].category.offer) { %>
    <div class="ribbon ribbon-top-right" style="z-index: 1;"><span><%= product[j].category.offer.percentage %>% OFF!</span></div>
  <% } %>
<% } %>
                <a href="/singleProduct/<%= product[j].id %>"><img class="img-fluid " src="/images/products/<%= product[j].coverPic[0] %>" alt="" ></a>
                
                <div class="product-details">
                  <h7><%= product[j].brand.brandName %></h7>
                  <h6><%= product[j].productName %></h6>

                  <div class="price">
                    <% if (product[j].offer && (!product[j].category.offer || product[j].offer.percentage > product[j].category.offer.percentage)) { %>
                        <h6 class="l-through">₹<%= product[j].price %></h6>
                      <h6>₹<%= product[j].discountedPrice %></h6>
                    <% } else if (product[j].category.offer) { %>  
                        <h6 class="l-through">₹<%= product[j].price %></h6>
                      <h6>₹<%= product[j].categoryDiscountedPrice %></h6>  
                    <% } else { %>
                      <h6>₹<%= product[j].price %></h6>
                    <% } %>
                  </div>

                  <div class="prd-bottom">

                    <%if(typeof user !== 'undefined') {%>
                    <a onclick="addToCart('<%= product[j].id %>')" class="add-cart social-info">
                      <span class="ti-bag"></span>
                      <p class="hover-text">add to Cart</p>
                    </a>
                    <a class="social-info" id="wishlist-button">
                      <span class="lnr lnr-heart"></span>
                      <p class="hover-text">Wishlist</p>
                    </a>
                    <%}%>
                    <a href="/singleProduct/<%= product[j].id %>" class="social-info">
                      <span class="lnr lnr-move"></span>
                      <p class="hover-text">view more</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% productsDisplayed++; %>
            <% if (productsDisplayed >= 9) break; %>
          <% } %>
        <% } %>
        <!-- single product -->  
      </div>
    </div>
  </div>
<% } %>

    
</section>
<!-- end product Area -->
<!-- end product Area -->

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-left">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1>Exclusive Hot Deal Ends Soon!</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row clock-wrap">
                            <div class="col clockinner1 clockinner">
                                <h1 class="days">150</h1>
                                <span class="smalltext">Days</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="hours">23</h1>
                                <span class="smalltext">Hours</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="minutes">47</h1>
                                <span class="smalltext">Mins</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="seconds">59</h1>
                                <span class="smalltext">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="primary-btn">Shop Now</a>
            </div>
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    <!-- single exclusive carousel -->
                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="/user/img/product/e-p1.png" alt="">
                        <div class="product-details">
                            <div class="price">
                                <h6>₹150.00</h6>
                                <h6 class="l-through">₹210.00</h6>
                            </div>
                            <h4>addidas New Hammer sole
                                for Sports person</h4>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <span class="add-text text-uppercase">Add to Bag</span>
                            </div>
                        </div>
                    </div>
                    <!-- single exclusive carousel -->
                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="/user/img/product/e-p1.png" alt="">
                        <div class="product-details">
                            <div class="price">
                                <h6>₹150.00</h6>
                                <h6 class="l-through">₹210.00</h6>
                            </div>
                            <h4>addidas New Hammer sole
                                for Sports person</h4>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <span class="add-text text-uppercase">Add to Bag</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <% for(let i=0;i<brand.length;i++){ %>
            <a class="col single-img" href="/shop?brand=<%=brand[i]._id%>&sortValue=&minPrice=&maxPrice=&search=">
                <img class="img-fluid d-block mx-auto" src="/images/brand/<%=brand[i].coverPic%>" alt="">
            </a>
            <% } %>
            
        </div>
    </div>
</section>
<!-- End brand Area -->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Celibrate the Diwali with Rc Hub</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="/user/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>₹189.00</h6>
                                    <h6 class="l-through">₹210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                  
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="/user/img/sd/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->

<!-- start footer Area -->
<%- include ('../layouts/userContentFooter.ejs')%>
<!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-74842002-9365-44fe-840b-6e4c1385d1ca" data-elfsight-app-lazy></div> -->

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="59710448-b5ac-48b6-851e-1d76f304fb54";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script>
        
	const wishlistButtons = document.querySelectorAll('#wishlist-button');

	
	wishlistButtons.forEach(button => {
		 button.addEventListener('click', function (event) {
			  event.preventDefault();

			  
			  button.classList.add('red-wishlist-button');

			  
			  Swal.fire({
					title: 'Item added to your wishlist!',
					icon: 'success',
			  });
		 });
	});


	const cartButtons = document.querySelectorAll('#cart-button');

	function addToCart(id) {
console.log("addToCart function called with id: " + id);
$.ajax({
url: "/addTocart",
method: "post",
encoded: true,
data: {
 id: id
},
}).done((data) => {
if (data) {
 console.log(data);

 Swal.fire({

icon: 'success',
title: 'Item has been added to Cart!',
showConfirmButton: false,
timer: 1000
})
} else {
 swal("Fail to add");
}
});
}





</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include ('../layouts/userfooter.ejs')%>